pkgbase = friends-and-fables-desktop-bin
	pkgdesc = Unofficial Friends & Fables desktop app with local appearance customization
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/buifgin/friends-and-fables-desktop
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	optdepends = hyprland: automatic floating mode for the Appearance window
	provides = friends-and-fables-desktop
	conflicts = friends-and-fables-desktop
	noextract = friends-and-fables-desktop-0.7.0-linux-x86_64.AppImage
	options = !strip
	options = !debug
	source = https://github.com/buifgin/friends-and-fables-desktop/releases/download/v0.7.0/friends-and-fables-desktop-0.7.0-linux-x86_64.AppImage
	source = friends-and-fables-desktop.desktop
	source = friends-and-fables-desktop
	sha256sums = d94ccdb8e59de25c56919b643c408f6ede4f4ca4a81742972d4294a3a8e0f871
	sha256sums = 462dcce05e630e78f5c2cd1e19436d5c50e0762fcf20fdf755d114826901c63a
	sha256sums = 5a59b5ebb4ce705764d9f85e28299094ec888871c1a849abd4a255e12420442b

pkgname = friends-and-fables-desktop-bin
